html{
    font-family: sans-serif;
}
label{
    display:block;
    margin-top: 10 px;
}
input{
    font-weight: bold;
    font-size: large;
    width: 100%;
}
#itemform{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

#itemform-submit{
    margin-top: 10px;
}

.shoppingitem{
    margin-top: 3px;
    padding-left: 5px;
    border: 1px dashed black;
}